* {
    padding: 0;
    margin: 0;
}

#menu , #sub-menu {
    width: 150px;
    list-style-type: none;  
}

#menu>li {
    height: 30px;
    position: relative;
}

#menu>li>ul{
    position: absolute;
    left: 150px;
    top: 0;
    display: none;
}

#sub-menu>li{
    height: 30px;
    width: 150px;
}

#menu>li:hover > ul {
    display: block;
}

#menu>li:hover ,#sub-menu>li:hover{
    background-color: gray;
}