#container {
    width: 1200px;
    margin: 0 auto;
}

#banner {
    background-color: blue;
    text-align: center;
    height: 200px;
    color: white;
}

#menu {
    background-color: red;
    text-align: center;
    height: 100px;
    color: white;
}

#main {
    height: 800px;
}

#main-left {
    float: left ;
    background-color: violet;
    text-align: center;
    width: 20%;
    color: white;
    height: 100%;
}

#main-center {
    color: black;
    float: left;
    background-color: yellow;
    text-align: center;
    width: 60%;
    height: 100%;
}

#main-right {
    color: white;
    float: right;
    background-color: green;
    text-align: center;
    width: 20%;
    height: 100%;
}

#footer {
    color: white;
    background-color: gray;
    text-align: center;
    height: 100px;
    
}